*{
   box-sizing: border-box;
}

body{
    background: url(/images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Open sans';
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4em;
    min-height: 100vh;
}
h1{
    font-family: 'Poppins';
}
img{
    max-width: 100%;
}

.container{
    margin: auto;
    max-width: 100%;
    width: 800px;
}

.flex{
    display: flex;
    margin: 50px 0;
}
.flex > div{
    
    flex: 1;
}
.flex > div:first-child{
    margin-right: 20px;
}
.flex > div:last-child{
    margin-left: 20px;
}
button{
    background-color: white;
    color:hsl(257, 40%, 49%);
    padding: 20px 80px;
    border: none;
    border-radius:50px ;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.384);
}

.social-links{
    display: flex;
    justify-content: flex-end;
    padding: 0;
    list-style-type: none;
}
.social-links a{
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    text-decoration: none;
    height: 60px;
    width: 60px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}