*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Nav */
.container.nav{
    display: flex;
    background-color: #212529;
    width: 100%;
}
.container.nav ul {
    margin-right: 20px;
    width: 100%;
    text-align:right;
    margin-top: 40px;
    list-style: none;
}
.container.nav img{
    height: 100px
}
.container.nav li a {
    text-decoration: none;
    color: white;
    padding: 20px;
}
.container.nav button{
    background-color: #ae7f41;
    color: white;
    width: 10%;
    height: 30px;
    border-radius: 20px;
    cursor: pointer;
}

/*Hovers Nav*/
.container.nav button:hover{
    background-color: #ae7f41e7;
}
.container.nav ul li a:hover{
    color: #bbb8b8;
}
::-webkit-scrollbar{
    width: 5px;
    background: #212529;
}
::-webkit-scrollbar-thumb{
    background: #ae7f41;
    border-radius: 20px;
    
}

/* About us */



/* Servicios */



/* Productos */



/* Ubicaciones */

/* Footer */

.container.footer{
    display: flex;
    width: 100%;
    background: #212529;
    padding: 1.5rem;
}
.container.footer img{
    height: 150px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.footer.ubicacion {
    width: 100%;
    text-align: center;
}


.Copyright.Contact.Footer{
    border-top: 1px solid white;
    background-color: #212529;
    display: flex;
    padding: 1.5rem;
    
}
.Copyright.Footer{
    text-align: left;
    align-items: center;
    width: 100%;
    color: white;
}
.Contac.social.media{
    text-align: right;
    display: flex;
}

.Contac.social.media a{
    text-align: center;
    width: 100%;
    font-size: 25px;
    color: white;
    padding: 10px;
    margin: 0 10px;
    border: 2px solid white;
    border-radius: 50%;

}

